* {
		font-family: Verdana, Geneva, sans-serif;
		color: #222;
		margin: 0;
		padding: 0;
}

body {
	background-color: #e9e9e9;
	
}

.wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}

.img-glass {
	width: 100%;
	height: 600px;
	background-image:url('../images/bg-placeholder.png');
	background-repeat: no-repeat;
	background-position: top center;
	-webkit-box-shadow: 0px 0px 10px #2a3235;
}

.header-logged-out {
	background-image:url('../images/marquee-logo-bg.png');
	width: 100%;
	height: 94px;
	background-repeat: no-repeat;
}

#header-marquee {
	background-image:url('../images/marquee.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 94px;
	z-index: 100;
	box-shadow: 0px 0px 5px #2a3235;
	-webkit-box-shadow: 0px 0px 5px #2a3235;
	-moz-box-shadow: 0px 0px 5px #2a3235;
}

p {
	font-size: 14px;
}
.button {
	background-color: #3377BB;
}

.title {
		display: inline-block;
		background-color: #3c8bd9;
		color: #FFF;
		font-size: 16px;
		padding: 5px 10px 5px 10px;
}

#login-form {
	float: right;
	width: 225px;
	background: #F9F9F9;
	margin: 50px 0 0 0;
	padding: 0em;
	border: 1px solid #999999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	
	

}

#login-form p {
	color: #333;
	font-size: 2em;
	padding: .2em 1em 0 .3em;
	margin: 0 0 10px 0;
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	text-align: left; 
	
}

input[type= text], input[type= password] {
	display:block;
	padding: .5em;
	width: 180px;
	margin: 0 0 1em 1em;
	border: 1px solid #333;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
}

input[type= submit] {
	color: #FFF;
	font-size: 14px;
	border: none;
	margin: 0 0 1em 1em;
	padding: .5em 1.2em .5em 1.2em;
	text-decoration: none;
	box-shadow: inset 0 1px
				#baec36,0 0 0 1px 
				rgba(0,0,0,0.3);
	border-color: #D9D9D9;
	background: #95c514;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}			
input[type= submit]:hover {
	background: #7ca31e;
		box-shadow: inset 0 1px
				#92bf25,0 0 0 1px 
				rgba(0,0,0,0.3);
		-webkit-box-shadow: inset 0 1px
				#92bf25,0 0 0 1px 
				rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0 1px
				#92bf25,0 0 0 1px 
				rgba(0,0,0,0.3);
}

.login-page-content {
	display: inline-block;
}

#create-account {
	float: left;
	width: 750px;
	margin: 50px 0 0 0;
}

.signup {
	float: left;
	width: 425px;
}
#create-account-large {
	color: #2a3235;
	font-size: 2.4em;
	margin: 0 0 10px 0;
}
#create-account-small{
	color: #2a3235;
	font-size: 1em;
	margin: 0 0 10px 0;
}

.longform input[type= text]{
	width: 389px;
}

.longform input[type= submit] {
	width: 402px;
}

.short-inline input[type= text], input[type= password] {
	float: left;
}

#forgot-password-link {
	font-size: .7em;
	padding: 10px;
}

#login-error {
	color: #8f0616;
	font-size: 1em;
	padding: 1em;
}

.error {
	float: right;
	width: 290px;
	color: #8f0616;
	font-size: 1em;
	margin: 0 10px 0 0;
}

.footer {
	width: 100%;

	
}

.footer-divider {
	border: 1px solid #2a3235
	padding: 50px 0 0 0;
	width: 100%
	height: 100px;
}




